/* Custom Google Font */
@import url('https://fonts.googleapis.com/css?family=Arvo|Baloo+Tamma');

/* Key Cap Parts */
.keylabel0, .keylabel1, .keylabel2, 
.keylabel3, .keylabel4, .keylabel5, 
.keylabel6, .keylabel7, .keylabel8, 
.keylabel9, .keylabel10, .keylabel11 { 
    font-family: 'Baloo Tamma', cursive;
}

/* Key Edge Color */
.keyborder {
    background-color: transparent !important;
}

/* Adjust KeyTop height */
.keytop[style*="height: 42px;"] { 
    height: 38px !important; 
}
.keytop[style*="height: 96px;"] { 
    height: 92px !important; /* >1u keys */
}

/* Adjust FrontKey color and font placement  */
.keylabel9, .keylabel10, .keylabel11 { 
    color: #ffffff !important;
    margin-top: -3px; /* default: -1px */
}

/* Adjust background-image (homing) */
.keylabels {
  background-position: center 63%; /* default: 90% */
}